<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cloud Harbor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>
<body class="bg-white">
    <!-- Image and text -->
    <nav class="navbar navbar-white bg-white border border-bottom-danger">
        <a class="navbar-brand" href="home.do">
            <img src="views/css/images/2000px-Dina-gor.svg.png" width="30" height="30" class="d-inline-block align-top" alt="Cloud Harbor"
                style="color:rgb(240, 85, 85); font-size:18pt;">
        </a>
        <div class="text-white">
            <a class="btn btn-primary" href="login.do">Log-in</a>
            <a class="btn btn-danger" href="newuser.do">Register</a>
        </div>
    </nav>
    <div class="container col-sm-8">
        <div class="jumbo jumbotron bg-white ">
            <div class="row col">
                <h1 class="row text-danger" style="font-size:48pt;top:150px;">Cloud Harbor</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                        </div>
                        <div class="col-sm">
                            <p class="row lead ml-4">Because swapping is king</p>
                        </div>
                        <div class="col-sm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        <hr>
            <div class="row">
                <div class="col-sm">
                    <h1 class="text-muted mt-5 p-2 rounded" style="box-shadow:1px 1px 1px silver">Search posts</h1>
                    <h1 class="text-white bg-primary p-2 rounded" style="box-shadow:1px 1px 1px silver">Message the owner</h1>
                    <h1 class="text-white rounded bg-danger p-2" style="box-shadow:1px 1px 1px silver">Meet up safely & walk away happy</h1>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 20rem; box-shadow:1px 1px 1px silver;">
                        <img class="card-img-top" src="views/css/images/macbook.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Macbook pro</h4>
                            <p class="card-text">MacBook Pro 15.4" with a BRAND NEW BATTERY.</p>
                            <a href="#" class="btn btn-danger">View item</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm mt-2 mb-2">
                    <div class="card" style="width: 20rem;box-shadow:1px 1px 1px silver;">
                        <img class="card-img-top" src="views/css/images/garden-grass-meadow-green.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Lawn mowing services</h4>
                            <p class="card-text">Lawn Mowing Service. Cut, Weed Eat, Trim, All Professionally Done.</p>
                            <a href="#" class="btn btn-danger">View item</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm mt-2">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="css/images/pexels-photo-69371.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Puppies</h4>
                            <p class="card-text">Pups for sale from a reputable breeding establishment.</p>
                            <a href="#" class="btn btn-danger">View item</a>
                        </div>
                    </div>
                </div> -->
            </div>
            <hr>
        </div>

    </div>

</body>
<script src="://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js " integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh "
    crossorigin="anonymous "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js " integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ "
    crossorigin="anonymous "></script>

</html>